/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Average);

body {
  margin: 0;
}

.header {
 background: url('hero1.png');
 color: #fff;
 text-align: center;
 width: 100%;
 height: 400px;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.header-detail {
  background: url('hero2.png');
  color: #fff;
  text-align: center;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
 margin: 0 auto;
 width: 75%;
 text-align: center;
 padding: 20px;
 box-sizing: border-box;
}

.container a:link, .container a:active, .container a:visited {
  color: #464646;
  text-decoration: none;
}

.container a:hover {
  opacity: .8;
}

.welcome a:link, .welcome a:active, .welcome a:visited {
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  text-decoration: none;
}

.welcome a:hover {
  opacity: .8;
}

.nav-links {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
}

.nav-link a:link, .nav-link a:active, .nav-link a:visited {
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  top: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
}

.nav-links a:hover {
  opacity: .8;
}

h1 {
 font-family: 'Fjalla One', sans-serif;
 font-size: 40px;
 margin: 0;
 padding: 0;
}

h2 {
 font-family: 'Average', serif;
 font-size: 20px;
 margin: 0;
 padding: 0;
}

h2 a:link, h2 a:active, h2 a:visited {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

h2 a:hover {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #999;
  transition: .5s;
}

.button {
  margin-bottom: 15px;
}

.inner-button {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.inner-button a:link, .inner-button a:active, .inner-button a:visited {
  color: #999;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #999;
  padding: 5px;
  border-radius: 5px;
}

.inner-button a:hover {
  background-color: #999;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  transition: .5s;
}

.small-button {
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
}

.small-button a:link, .small-button a:active, .small-button a:visited {
  color: #d3d3d3;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #d3d3d3;
  padding: 3px;
  border-radius: 3px;
}

.small-button a:hover {
  background-color: #d3d3d3;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  padding: 3px;
  transition: .5s;
}

.byline {
  font-family: 'Average', serif;
  font-size: 12px;
}

.post-home {
  font-family: 'Average', serif;
  font-size: 16px;
  padding: 15px;
  background-color: #ededed;
  border-radius: 5px;
  margin: 15px;
}

.post {
  font-family: 'Average', serif;
  font-size: 16px;
}

.post-options {
  font-family: 'Fjalla One', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.post-options a:link, .post-options a:active, .post-options a:visited {
  color: #fff;
  text-decoration: none;
}

.post-options a:hover {
  opacity: .7;
}
