/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Average);

.header {
 background: url('hero1.png');
 color: #fff;
 text-align: center;
 width: 100%;
 height: 400px;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.container {
 margin: 0 auto;
 width: 75%;
 text-align: center;
}

h1 {
 font-family: 'Fjalla One', sans-serif;
 font-size: 40px;
 margin: 0;
 padding: 0;
}

h2 {
 font-family: 'Average', serif;
 font-size: 20px;
 margin: 0;
 padding: 0;
}

h2 a:link, h2 a:active, h2 a:visited {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

h2 a:hover {
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #999;
  transition: .5s;
}

.button {
  margin: 25px;
}

.new-post {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
}

.new-post a:link, .new-post a:active, .new-post a:visited {
  color: #999;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #999;
  padding: 5px;
  border-radius: 5px;
}

.new-post a:hover {
  background-color: #999;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  transition: .5s;
}

.byline {
  font-family: 'Average', serif;
  font-size: 12px;
}

p {
  font-family: 'Average', serif;
  font-size: 16px;
}

.divider {
  background-color: #999;
  height: 2px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}
